# Visual Studio
.vs/
.vscode/
echo "assets.zip" >> .gitignore
echo "src.zip" >> .gitignore
# Build folders
Debug/
Release/
x64/
x86/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt

# Executables
*.pdb
*.ilk

# Visual Studio files
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx

# Logs
*.log
*.tmp

# IntelliSense
ipch/

# Windows
Thumbs.db
Desktop.ini